# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/datadog-saist

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
.vscode/
cmd/datadog-saist/datadog-saist
.idea
*~

/datadog-saist
datadog-saist-experiment
report.sarif
datadog-saist-cache

*/.DS_Store

# bazel
/bazel-*
**/BUILD.bazel
.bazelrc
.bazelversion
WORKSPACE

# Agents

./claude
